<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>pig</title>
  </head>
  <body>
    <h1>latinized</h1>
    <h2> <%= @user_phrase %> </h2> <!-- renders @user_phrase variable from app.rb -->
  </body>
</html>